/* Basislayout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100%;
    padding: 0;
    background-color: #eeffc5;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: left;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    top:500px;
    left:250px;
}

div footer {
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    top:500px;
    left:250px;
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

img.zweefright {
    float: right;
    margin-left: 15px;
}

.clearBoth {
    clear: both;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(0, 195, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ffa8a8;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(199, 60, 60);
}

nav li a.active {
    background-color: rgb(199, 60, 60);
}




#textblokje2 {
    /*margin: 20px;*/
}